.Form_cont{
    margin-bottom: 60px;
}


.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}

.imput{
    margin: 10px 30px;
    width: 80%;
    height: 40px;
}

.selectd{
    display: flex;
    justify-content: flex-start;
    height: 30px;
}

.dogsubmit{
    margin: 20px;
    width: 200px;
    height: 40px;
}

