

.NavBar{
display: flex;
align-items: center;
width: 100%;
justify-content: center;
gap: 9%;
}

.Btn_nav{
    border-color: white;
    display: flex;
    width: max-content;
    flex-direction: row;
    font-weight: 600;
}